doctype html	
html
	head 
		title GoodInc
		meta(charset="utf-8")
		link(rel='stylesheet', href='./css/build.css', type='text/css' )
		link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Quicksand:700")
		script(src='./js/lib.js')
		script(src='./js/build.js')
	body
		div.header-wrapper
			div.header
				div.logo-wrapper
					div.logo
						p g
					div.triangle
					div.title
						p Good Inc.
				div.search
					div.pin
					div.arrow
						p <>
					select#Newsletter
						option Newsletter
					div.clock
					div.arrow-contact
						p <>
					select#Contact
						option Contact
		div.menu-wrapper
			div.menu
				div.geo-pin
				div.menu-item
					div.item
						div.wrapper-item
							p Portfolio
					div.item
						div.wrapper-item
							p Services
					div.item
						div.wrapper-item
							p Staff
					div.item
						div.wrapper-item
							p Articles
					div.item.border
						div.wrapper-item
							p Contact
				div.menu-right
					div.item-right-select
						p <>
						select#Anything
							option Select from the dropwdon
					div.item-right-a
						div.geo-pin-a
						a(href='#') Quicklinks
			div.wrapper-right
		div.wrapper-contacts
			div.clock-search
			input(type='text' placeholder='Search for somth here')
			div.map-pin-find
			div.arrow-find
				p <>
			select#Findby
				option Findby
			div.wrapper-soc-contacts
				div.soc-item
					div.soc-icon-mail
					p Mail
				div.soc-item
					div.soc-icon-rss
					p RSS
				div.soc-item
					div.soc-icon-facebook
					p Facebook
				div.soc-item
					div.soc-icon-twitter
					p Twitter
		div.wrapper-main
			div.main
				div.main-triangle
				div.main-img
				div.main-title
				p Good Inc. image caption to go here
			div.main-slider
				div.main-post
					div.main-prev
						p.main-select-post <
					div.main-next
						p.main-select-post >
					div.main-clock
					p.main-title Housework can't kill you, but why take a chance?
					p.main-text Quisque accumsan eleifend dolor, nec bibendum nibh ultricies at. Nunc convallis risus sit amet augue bibendum non lobortis eros interdum. Maecenas quis risus felis, at volutpat elit...
					p.main-plus +
					p.main-date 14th April 2013
		div.wrapper-slider
			div.prev-slide
				p <
			div.wrapper-slide
				div.slide-triangle
					p +
				div.slide-img
					img(src='./images/slide1.png')
				div.slide-text-wrapper
					p.slide-title Taste & Sounds from Thailand
					p.slide-text We've made some small changes to BlazRobar.com...
			div.wrapper-slide
				div.slide-triangle
					p +
				div.slide-img
					img(src='./images/slide2.png')
				div.slide-text-wrapper
					p.slide-title BlazRobar.com is awwesome for PSD
					p.slide-text We've made some small changes to BlazRobar.com...
			div.wrapper-slide
				div.slide-triangle
					p +
				div.slide-img
					img(src='./images/slide3.png')
				div.slide-text-wrapper
					p.slide-title Nice Looking Mountains Ah?
					p.slide-text We've made some small changes to BlazRobar.com...
			div.next-slide
				p >


		div.wrapper-posts
			div.wrapper-info-slide
				div.info-slide-img
					img(src='./images/info-slide.png')
				div.slide-triangle
					p +
				div.info-slide-text-wrapper
					div.info-slide-title
						p Nice Looking Mountains Ah?
					div.info-slide-text
						p Quisque accumsan eleifend dolor, nec bibendum nibh ultricies at. Nunc convallis risus sit amet augue bibendum non lobortis eros interdum. Maecenas quis risus felis, at volutpat elit. Proin vel nisl in orci venenatis suscipit eget sed lectus.
			
			div.wrapper-post
				p.post-title Good Inc. Good Choice.
				div.wrapper-header-post
					div.post-date
						p 14th January 2013
					div.post-comments
						p 32 Comments
					div.post-votes
						div.stars
						p 124 Votes
				p.post-text I believe that if life gives you lemons, you should make lemonade... And try to find somebody whose life has given them vodka, and have a party. 
			div.wrapper-post
				p.post-title Behind every great man is a woman rolling her eyes.
				div.wrapper-header-post
					div.post-date
						p 14th January 2013
					div.post-comments
						p 312 Comments
					div.post-votes
						div.stars
						p 1254 Votes
				p.post-text Quisque accumsan eleifend dolor, nec bibendum nibh ultricies at. Nunc convallis risus sit amet augue bibendum non lobortis eros interdum. Maecenas quis risus felis, at...

			div.wrapper-post-middle
				p.post-title-middle A day without sunshine is like, you know, night. 
				div.wrapper-header-post
					div.post-date-middle
						p 14th January 2013
					div.post-comments-middle
						p 312 Comments
		
			div.wrapper-post-little
				p.post-title-little As a child my family's menu consisted of two choices: take it or leave it. 
				div.wrapper-header-post
					div.post-date
						p 14th January 2013
					div.post-comments
						p 312 Comments
			div.wrapper-post-little
				p.post-title-little Get your facts first, then you can distort them as you please. 
				div.wrapper-header-post
					div.post-date-little
						p 14th January 2013
					div.post-comments-little
						p 312 Comments
			div.wrapper-post-little
				p.post-title-little As a child my family's menu consisted of two choices: take it or leave it.
				div.wrapper-header-post
					div.post-date-little
						p 14th January 2013
					div.post-comments-little
						p 312 Comments
			div.wrapper-post-little
				p.post-title-little Get your facts first, then you can distort them as you please. 
				div.wrapper-header-post
					div.post-date-little
						p 14th January 2013
					div.post-comments-little
						p 312 Comments
			div.wrapper-read-more
				p READ MORE
				img(src='./images/read_more_plus.png')
			div.wrapper-website-design
				div.website-search-work
					p Search work by
					img(src='./images/search_work.png')
				div.website-design
					p Website Deisgn
				div.website-design-selector
					p <>
			div.wrapper-boxage
				div.boxage-plus
					p +
				div.boxage-title
					p Nice text boxage here
				div.boxage-review
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu turpis purus. Pellentesque ullamcorper mauris vitae sapien bibendum tincidunt. 
				div.boxage-more
					p Check leo dignissim + 
				div.boxage-text
					p Morbi malesuada mauris sed nibh placerat sit amet posuere libero egestas. Vestibulum consectetur iaculis est, at dapibus purus malesuada vitae. Mauris sollicitudin aliquam scelerisque. Vestibulum ante <span> ipsum primis in faucibus</span> orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non.
			div.boxage-like
				div.boxage-date
					p 19th April
				div.boxage-count-like
					p 23
					img(src='./images/heart.png')
			div.wrapper-boxage-post-image
				img(src='./images/boxage-slide.png')
				p.bopxage-post-image-title I like long walks, especially when they are taken by people who really annoy me.  
				p.bopxage-post-image-review Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu turpis purus. Pellentesque ullamcorper mauris vitae sapien bibendum tincidunt. <br>Check leo dignissim + 
				div.bopxage-post-image-plus
					p +
				div.bopxage-post-image-selector
					p >
			div.wrapper-dif-box
				div.dif-box-plus
					p +
				p.dif-box-title A slightly different text box
				p.dif-box-review Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu turpis purus. Pellentesque ullamcorper mauris vitae sapien bibendum tincidunt.<br>Check leo dignissim + 
				p.dif-box-text Morbi malesuada mauris sed nibh placerat sit amet posuere libero egestas. Vestibulum consectetur iaculis est, at dapibus purus malesuada vitae. Mauris sollicitudin aliquam scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non.
				p.dif-box-text Mauris sollicitudin aliquam scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non.
			div.wrapper-info-news
				p.info-news-title Housework can't kill you, but why take a chance? 
				p.info-news-text Quisque accumsan eleifend dolor, nec bibendum nibh ultricies at. Nunc convallis risus sit amet augue bibendum non lobortis eros interdum..
				p.info-news-plus +
				p.info-news-date 13th January 2013
			div.wrapper-info-news.no-border
				p.info-news-title My fake plants died because I did not pretend to water them. 
				p.info-news-text Quisque accumsan eleifend dolor, nec bibendum nibh ultricies at. Nunc convallis risus sit amet augue bibendum non lobortis eros interdum..
				p.info-news-plus +
				p.info-news-date 10th January 2013
			
			div.wrapper-info-bloggers
				p.info-bloggers-title About Us
				p.info-bloggers-author (Blaz Robar)
			div.wrapper-info-bloggers
				p.info-bloggers-title How too
				p.info-bloggers-author (Jamie Oliver)
			div.wrapper-info-bloggers
				p.info-bloggers-title Write for us
				p.info-bloggers-author (Bill Muarry)
			div.wrapper-info-bloggers
				p.info-bloggers-title Video Testimonails
				p.info-bloggers-author (John Smith)
			div.wrapper-count
				div.count
					p.count-number 1980
					img(src='./images/count_glasses.png')
					p.count-title Active Readers

				div.count
					p.count-number 126
					img(src='./images/count_pencil.png')
					p.count-title Post Articles
				div.count
					p.count-number 42
					img(src='./images/count_download.png')
					p.count-title Free Downloads
				div.count
					p.count-number 1
					p.count-logo g
					p.count-title Google Inc.
		div.footer-wrapper
			div.footer
				div.logo-wrapper
					div.logo
						p g
					div.triangle
					div.title
						p Good Inc.
				div.menu-item.for-footer
					
					div.item
						div.wrapper-item
							p Portfolio
					div.item
						div.wrapper-item
							p Services
					div.item
						div.wrapper-item
							p Staff
					div.item
						div.wrapper-item
							p Articles
					div.item.border
						div.wrapper-item
							p Contact
			div.footer-right
			div.wrapper-footer-menu
				div.footer-menu
					p.footer-menu-item About us
					p.footer-menu-item Footer links here
					p.footer-menu-item Privacy
					p.footer-menu-item Page Links Also
				p.footer-text As cross as a hoon my built like a op shop. We're going bored sh*tless heaps she'll be right budgie smugglers. Grab us a durry mate she'll be right dunny rat. She'll be right larrikin with skite. As stands out like kero it'll be truckie.



