.wrapper-boxage-post-image
	position relative
	float left	
	width 620px
	height 615px
	background #fff
	margin-bottom 17px
	.bopxage-post-image-title
		position relative
		text-align left
		font-family "NexaBold"
		font-size 30px
		color #707070
		margin-left 55px
		margin-right 45px
		margin-top 38px
		margin-bottom 25px
	.bopxage-post-image-review
		margin-left 55px
		margin-right 45px
		position relative
		text-align left
		font-family "NexaBold"
		font-size 14px
		color #949494
		line-height 25px
	.bopxage-post-image-plus
		position absolute
		width 33px
		height 33px
		background #363339
		color #fff
		left 555px
		top 271px
		p
			text-align center
			cursor pointer
			font-family "NexaRegular"
			font-size 26px
	.bopxage-post-image-selector
		position absolute
		width 33px
		height 33px
		background #f26c4f
		color #fff
		left 588px
		top 271px
		p
			text-align center
			cursor pointer
			font-family "NexaRegular"
			font-size 26px