.wrapper-boxage
	position relative
	float left
	width 624px
	background #fff
	height 339px
	margin-top 25px
	margin-bottom 2px
	.boxage-plus
		position absolute
		width 33px
		height 33px
		background #cacaca
		color #fff
		p
			text-align center
			cursor pointer
			font-family "NexaRegular"
			font-size 26px
		
	.boxage-title
		margin-left 55px
		margin-top 36px
		margin-bottom 35px
		font-family "NexaBold"
		font-size 30px
		color #707070
		
	.boxage-review
		margin-right 45px
		margin-left 55px
		font-family "NexaBold"
		font-size 14px
		color #707070
		line-height 22px
		margin-bottom 5px
	.boxage-more
		margin-left 55px
		font-family "NexaBold"
		font-size 14px
		color #f26c4f
		margin-bottom 40px
		cursor pointer
	.boxage-text
		margin-right 45px
		margin-left 55px
		font-family "Arial"
		color #646464
		font-size 12px
		line-height 20px
		span
			color #f26c4f
.boxage-like
	position relative
	float left
	z-index 2
	height 38px
	width 624px
	background #efefef
	margin-bottom 25px
	.boxage-date, .boxage-count-like
		font-family "NexaBold"
		font-size 12px
		color #a2a2a2
		margin-top 15px
	.boxage-date
		margin-bottom 15px
		margin-left 25px
		text-align left
		display inline-block
	.boxage-count-like
		ovwerflow hidden
		position relative
		width auto
		float right
		margin-right 27px
		cursor pointer
		img
			position absolute
			top 2px
			right 4px
		p
			position relative
			padding-right 27px
			