.wrapper-count
	position relative
	display inline-block	
	width 300px
	height auto
	
	margin-left 20px
	margin-top 45px
	.count
		position relative
		margin-bottom 5px
		.count-number
			font-family "NexaBold"
			font-size 48px
			color #474747
			text-align left
			display inline-block
		.count-title
			font-family "NexaRegular"
			font-size 14px
			color #626262
			position absolute
			top 20px
			left 184px
		.count-logo
			text-align center
			display inline-block
			position absolute
			top 20px
			left 136px
			font-family "NexaBold"
			font-size 24px
			color #9d9d9d
			
		img
			position absolute
			top 20px
			left 136px
			