.wrapper-dif-box
	height 482px
	width 622px
	position relative 
	float left
	background #fff
	margin-bottom 53px
	.dif-box-title
		margin-top 60px
		margin-left 55px
		margin-bottom 35px
		font-family "NexaBold"
		font-size 30px
		color #707070	
	.dif-box-review
		margin-right 45px
		margin-left 55px
		margin-bottom 25px
		font-family "NexaBold"
		font-size 14px
		color #949494
		line-height 22px
	.dif-box-text
		margin-right 45px
		margin-left 55px
		font-family "Arial"
		color #646464
		font-size 12px
		line-height 20px
		margin-bottom 47px
	.dif-box-plus
		position absolute
		width 33px
		height 33px
		background #cacaca
		color #fff
		p
			text-align center
			cursor pointer
			font-family "NexaRegular"
			font-size 26px