
@font-face 
	font-family "NexaBold"
	src url("../fonts/NexaBold/NexaFreeBoldwebfont.eot")
	src local("NexaFreeBoldwebfont")
	src url("../fonts/NexaBold/NexaFreeBoldwebfont.woff") format("woff")
	src url("../fonts/NexaBold/NexaFreeBoldwebfont.ttf") format("truetype")

@font-face {
    font-family "NexaRegular"
    src url("../fonts/NexaRegular/NexaRegular.eot")
    src local("NexaRegular")
    src url("../fonts/NexaRegular/NexaRegular.woff") format("woff")
    src url("../fonts/NexaRegular/NexaRegular.ttf") format("truetype")
}
*
	padding 0
	margin 0

	
	//font-size 20px
	//font-family "NexaBold"
	
	

body
	overflow-y scroll
	overflow-x hidden
	background #ebebeb
	margin 0
	min-width 1052px
	

.header-wrapper
	background #373737
.header
	max-width 946px
	overflow hidden
	position relative
	background #373737
	height 65px
	margin 0 auto
	
	
	.search
		overflow hidden
		position relative
		width 350px
		float right
		height 100%
		
		
		.pin
			position absolute
			background url(../images/map_pin.png) no-repeat
			height 17px
			width 12px
			top 20px
			left 16px
			z-index 2
		.arrow
			position absolute
			background #ebebeb
			width 36px
			height 36px
			left 143px
			top 12px
			z-index 2
			border-left 1px solid #d8d8d8
			p
				font-size 11px
				z-index 3
				text-align center
				cursor pointer
				color #959595
				-webkit-transform rotate(90deg)
				-moz-transform rotate(90deg)
				font-family "Quicksand"
				padding 5px 20px
		select 
			z-index 1
			height 36px
			position relative
			top 12px
			text-align-last center
			font-family "NexaBold"
			font-size 12px
			color #959595
			border none
			-webkit-appearance none

		#Newsletter
			width 179px
			
		.clock
			position absolute
			background url(../images/clock.png) no-repeat
			height 20px
			width 20px
			top 19px
			right 112px
			z-index 2
		.arrow-contact
			position absolute
			background #ebebeb
			width 36px
			height 36px
			right 0px
			top 12px
			z-index 2
			border-left 1px solid #d8d8d8
			p
				font-size 11px
				z-index 3
				text-align center
				cursor pointer
				color #959595
				-webkit-transform rotate(90deg)
				-moz-transform rotate(90deg)
				font-family "Quicksand"
				padding 5px 20px
		#Contact
			width 145px
			float right
.logo-wrapper
		overflow hidden
		width 30%
		float left
		height 65px
		
		.logo
			position relative
			background #f26c4f
			max-width 80px
			height 65px
			z-index 1
			p
				font-family "NexaBold"
				font-size 36px
				color #ffffff
				text-align center
		.triangle
			display block
			position absolute
			top 20px
			left 73px
			width 12px
			height 13.5px
			background #f26c4f
			-moz-transform rotate(-45deg)
			-webkit-transform rotate(-45deg)
		.title
			display block
			position absolute
			top 20px
			left 95px
			p 
				font-family "NexaRegular"
				font-size 18px
				color #ffffff