.wrapper-posts
	max-width 946px
	overflow hidden
	position relative
	margin 0 auto
	margin-top 13px
	.wrapper-post, .wrapper-post-middle, .wrapper-post-little
		overflow auto
		position relative
		float left
		width 624px
		height auto
		background #fff
		border-left 4px solid #ce4e32
		margin-bottom 13px
		.post-title, .post-title-middle, .post-title-little
			margin-top 35px
			margin-bottom 20px
			margin-left 37px
			margin-right 60px
			font-family "NexaBold"
			font-size 25px
			color #4f4f4f
		.post-title-middle
			font-size 24px
			margin-top 17px
		.post-title-little
			font-size 18px
			margin-top 15px
			
		.post-date, .post-comments, .post-votes
			position relative
			float left
			width auto
			height  22px
			font-style italic
			font-family "NexaRegular"
			font-size 10px
			color #8f8f8f
			margin-left 37px
			margin-bottom 15px
			padding-top 3px
		.post-comments,.post-comments-middle, .post-comments-little
			border-right 1px solid #dfdfdf
			border-left 1px solid #dfdfdf
			padding-right 28px
			padding-left 30px
			margin-left 0px
			
		.post-date
			padding-right 30px
			
		.post-votes
			padding-left 25px
			p
				padding-left 15px
		.stars
			position absolute
			background url(../images/star.png) repeat-x
			height 14px
			width 52px
			top 1px
			left -28px
		
		.post-text
			margin-left 37px
			margin-bottom 43px
			margin-right 42px
			position relative
			float left
			width auto
			color #707070
			font-family "MyriadProRegular"
			font-size 14px
	.wrapper-post-middle
		border none
		border-left 4px solid #8f8f8f
		.post-date-middle, .post-comments-middle
			position relative
			float left
			width auto
			height  14px
			font-style italic
			font-family "NexaRegular"
			font-size 10px
			color #8f8f8f
			margin-left 37px
			margin-bottom 27px
			padding-top 3px
	.wrapper-post-little
		border none
		border-left 4px solid #d9d9d9
		.post-date-little, .post-comments-little
			position relative
			float left
			width auto
			height  14px
			font-style italic
			font-family "NexaRegular"
			font-size 10px
			color #8f8f8f
			margin-left 37px
			margin-bottom 27px
			padding-top 3px
	.wrapper-info-slide
		position relative
		float right
		width 300px
		height 580px
		border 1px solid
		background #373737
		left -5px
		.info-slide-img
			position relative
			height 299px
			width 294px
			z-index 2
		.info-slide-text-wrapper
			position relative
			margin 26px
			.info-slide-title
				font-family "NexaBold"
				font-size 25px
				color #fff
				margin-bottom 26px
			.info-slide-text
				font-family "Arial"
				color #fff
				font-size 12px
				line-height 20px
	.wrapper-info-news
		position relative
		display inline-block
		width 282px
		height 195px
		border-bottom 1px solid #d9d9d9
		clear both
		margin-top 35px
		margin-left 14px
		.info-news-title
			position relative
			font-family "NexaRegular"
			font-size 19px
			color #474747
			margin-bottom 24px
		.info-news-text
			position relative
			font-family "Arial" 
			font-size 12px
			color #a7a7a7
			margin-bottom 15px
			line-height 20px
		.info-news-date
			position relative
			font-style italic
			font-family "NexaRegular"
			font-size 12px
			color #8f8f8f
			width 120px
			margin-left 40px
		.info-news-plus
			position relative
			float left
			font-family "NexaRegular"
			font-size 36px
			color #8f8f8f
			top -16px
	.wrapper-info-bloggers
		position relative
		display inline-block
		
		width 301px
		height 45px
		border-left 3px solid #cacaca
		background #fff 
		margin-left 9px
		margin-bottom 8px
		.info-bloggers-title
			margin-left 25px
			margin-top 15px
			display inline-block
			font-family "NexaBold"
			font-size 16px
			color #474747
		.info-bloggers-author
			position relative
			margin-left 15px
			display inline-block
			text-align center
			font-family "Arial" 
			font-size 12px
			color #a7a7a7
			top -2px
	.wrapper-info-news.no-border
		border none
		margin-bottom 25px
.wrapper-post.changeStyle
	background #f26c4f
	color #fff
.changeColor
	color #fff !important
.changeImageStar
	background url(../images/white_star.png) repeat-x !important