@font-face {
	font-family "MyriadProRegular"
	src url("../fonts/MyriadProRegular/MyriadProRegular.eot")
	src url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype")
	src url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff")
	src url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype")
	font-style normal
	font-weight normal
	}

.wrapper-slider
	max-width 1036px
	overflow hidden
	position relative
	height 380px
	margin 0 auto
	margin-top 13px
	.prev-slide
		position relative
		float left
		width auto
		margin-right 27px
		top 165px
		p
			font-family "Quicksand"
			font-size 35px
			color #adadad
			cursor pointer	
			
	.next-slide
		position relative
		width auto
		margin-left 27px
		top 165px
		p
			font-family "Quicksand"
			font-size 35px
			color #adadad
			cursor pointer
	.wrapper-slide
		position relative
		float left
		width 300px
		height 380px
		background #fff
		margin-right 20px
		.slide-img
			position relative
			height 188px
			width 298px
			z-index 2
		.slide-text-wrapper
			position relative
			margin 26px
			.slide-title
				font-family "NexaBold"
				font-size 25px
				color #4f4f4f
				margin-bottom 26px
			.slide-text
				font-family "Arial"
				color #646464
				font-size 12px
				line-height 20px
				

.slide-triangle
			position absolute
			top 0px
			right 0px
			width 0
			height 0
			border-top 100px solid #373737
			border-left 100px solid transparent
			z-index 3
			p
				position absolute
				cursor pointer
				color #fff
				font-family "MyriadProRegular"
				font-size 35px
				right 20px
				top -88px
.slide-triangle.color-orange
	border-top 100px solid #f26c4f !important